@charset "utf-8";
/* CSS Document */
/*
	*Templaste: chapitravel 0.1
	*Developed by Franksoft
	*Description: "Esta plantilla fue desarrollada para la agencia de viaje chapi travel con tegnologia css3 y html5."
*/
body
{
	font-family: 'Roboto', sans-serif;
	color:#ecf0f1;
	background-image:url(../Image/sky-scene-final.jpg);
	background-position:top left;
	background-size:100%;
	background-attachment:fixed;
}
/*
	*En esta area estan los codigos de la barras de navegaciones principates :
*/
nav
{
	width:100%;
	overflow:hidden;
	font-family: 'Bree Serif', serif;
}
nav ul
{
	list-style:none;
}
nav ul a li
{
	float:right;
	padding:15px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px;
	color:#2980b9;
	text-decoration:underline;
}
nav ul a:hover li
{
	color:#3498db;
}
nav .nav
{
	list-style:none;
}
#menu_secundario
{
	background-color:#fff/*rgba(189,195,199,1);*/
}
nav .nav li
{
	float:left;
	text-decoration:none;
	font-size:26px;
	color:#2980b9
}
nav .nav a:hover li
{
	background-color:#3498db;
	color:#fff;/*#d35400;*/
}
/*
	*Esta seccion pertenece lo que es el header o cabezera de la pagina
*/
header
{
	background-color:#2c3e50;/*#fff;*/
	font-family: 'Lobster', cursive;
	overflow:hidden;
	font-size:50px;
}
header h1
{
	margin-top:5%;
}
header h1 a
{
	color:#3498db;
	text-decoration:none;
}
header h1 a:hover
{
	color:#2980b9
}
header #logo
{
	margin-left:1%;
	margin-top:1%;
	height:15%;
	width:15%;
	float: left;
}
header #social
{
	float:right;
}
header #social ul
{
	list-style:none;
}
header #social ul li
{
	float:right;
	padding-right:5px;
}
header #social ul a:hover li
{
	opacity:0.75;
}
/*
	*En esta parte se trabajara la manera o forma de como se muestran los contenidos de la pag.
*/
section
{
	float:left;
	width:100%;
	overflow:hidden;
	color:#000;
}
section .post
{
	background-color:#fff;/*#27ae60;*/
	padding-top:1%;
	padding-left:1%;
	padding-right:1%;
	margin-bottom:1%;
	overflow:hidden;
	width:98%;
}
section .post h1
{
	color:#2980b9;
	text-transform:uppercase;
	font-size:36px;
	font-weight:bold;
	text-align:left;
}
section .post .img
{
	float:left;
	width:25%;
	border:100%;
	border-radius:100%;
	overflow:hidden;
	text-align:left;
}
section .post .content
{
	text-align:justify;
}
section .post2
{
	/*background-color:#ecf0f1;*/
	padding-top:1%;
	padding-left:1%;
	padding-right:1%;
	/*padding:1%;*/
	width:98%;
	text-align:right;
	overflow:hidden;
	margin-bottom:1%;
}
section .post2 h1
{
	color:#27ae60;
	text-transform:uppercase;
	font-size:36px;
	font-weight:bold;
	padding-right:3%;
}
section .post2 .img
{
	float:right;
	width:25%;
	border-radius:100%;
	overflow:hidden;
}
section .post2 .content
{
	text-align:right;
}
section .intro
{
	float:left;
	width:29%;
	text-align:center;
	align-content:center;
	overflow:hidden;
	margin-top:1%;
	margin-left:1%;
	margin-right:1%;
	padding:1%;
}
section .intro .img-intro
{
	border-radius:100%;
	width:35%;
	overflow:hidden;
	box-shadow:1px 1px 1px 1px #fff;
}
section .intro h2
{
	font-weight:bold;
	color:#fff;
	font-size:30px;
	font-family: 'Bree Serif', serif;
	text-transform:uppercase;
	text-shadow:0.5px 0.5px 0.5px #000;
}
#intro
{
	background-color:#1abc9c;
	margin-bottom:5%;
}
