@charset "utf-8";
/* CSS Document */
/*
	*Templaste: chapitravel 0.1
	*Developed by Franksoft
	*Description: "Esta plantilla fue desarrollada para la agencia de viaje chapi travel con tegnologia css3 y html5."
*/
body
{
	background-color:#ecf0f1;
	font-family: 'Roboto', sans-serif;
}
/*
	*En esta area estan los codigos de la barras de navegaciones principates :
*/
nav
{
	width:100%;
	overflow:hidden;
}
nav ul
{
	list-style:none;
}
nav ul a li
{
	float:right;
	padding:15px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px;
	color:#27ae60;
	text-decoration:underline;
}
nav ul a:hover li
{
	color:#2ecc71;
}
nav .nav
{
	list-style:none;
}
#menu_secundario
{
	background-color:rgba(189,195,199,0.54);
}
nav .nav li
{
	float:left;
	text-decoration:none;
}
nav .nav a:hover li
{
	background-color:#3498db;
	color:#d35400;
}
/*
	*Esta seccion pertenece lo que es el header o cabezera de la pagina
*/
header
{
	background-color:#fff;
	font-family: 'Lobster', cursive;
	overflow:hidden;
	font-size:50px;
}
header h1
{
	margin-top:5%;
}
header h1 a
{
	color:#3498db;
	text-decoration:none;
}
header h1 a:hover
{
	color:#2980b9
}
header #logo
{
	margin-left:1%;
	margin-top:1%;
	height:15%;
	width:15%;
	float: left;
}
header #social
{
	float:right;
}
header #social ul
{
	list-style:none;
}
header #social ul li
{
	float:right;
	padding-right:5px;
}
header #social ul a:hover li
{
	opacity:0.75;
}
/*
	*En esta parte se trabajara la manera o forma de como se muestran los contenidos de la pag.
*/
section
{
	float:left;
	width:80%;
	padding-bottom:1%;
}
section .post
{
	background-color:#fff;
	margin-top:1%;
	margin-left:1%;
	padding:1%;
	overflow:hidden;
	box-shadow:1px 1px 1px 1px rgba(0,0,0,0.37);
}
section .post h1
{
	color:#2980b9;
	text-transform:uppercase;
	font-size:36px;
	font-weight:bold;
}
section .post .img
{
	float:left;
	width:25%;
}
section .post .content
{
	color:#d35400;
}
aside
{
	float:left;
}
